@model MicroSocialPlatform.Models.Post
@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm(actionName: "Edit", controllerName: "Posts"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.Label("Content", "Continut text")
    @Html.Editor("Content")
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger " })
    <br />
    <br />
    @Html.Label("Date", "Data")
    <br />
    @Html.Editor("Date")
    <br />
    <button type="submit">Modifica postare</button>

}
