@model MicroSocialPlatform.Models.Post

@{
    ViewBag.Title = "Show";
}

<a href="/Profile/Index/@Model.User.Id">@Model.User.UserName</a>
<p>@Model.Date</p>
<p>@Model.Content</p>
<h4>Comments</h4>
@foreach (var comment in Model.Comments)
{
    <br />
    <a href="/Profile/Index/@comment.User.Id">@comment.User.UserName</a>
    <p>@comment.Date</p>
    <p>@comment.Content</p>
    <a href="/Comments/Edit/@comment.Id">Editeaza comentariu</a>
    <a href="/Comments/Delete/@comment.Id">Sterge comentariu</a>
    <br />
}
<form method="post" action="/Comments/New">
    <textarea name="Content"></textarea>
    <input type="hidden" name="Date" value="@DateTime.Now" />
    <input type="hidden" name="PostId" value="@ViewBag.PostId" />
    <br />
    <button type="submit">Adauga comentariu</button>
</form>
<br />
<a href="/Posts/Edit/@Model.Id">Editeaza postare</a>
<form method="post" action="/Posts/Delete/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge postare</button>
</form>
<a href="/Posts/Index">Vezi toate postarile</a>
<br />